.searchBox{
    margin-top: 60px;
}

/* .row {
    margin-top: 60px;
} */

#search-area{
    background-color: #f7f7f7;
    height: 70px;
    margin-top: 60px;
}

#search-button {
    margin-top: 60px;
}
